@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Call Pacient" />
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="text-center">
        <h1 id="pacient" type="text" value="Paciente"></h1>
        <h1 id="place" type="text" value="Destino"></h1>
    </div>
</div>





@*Importante nao mexer, scripts da api e do codigo de conexao*@
<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/call.js"></script>